{% extends 'home.html' %}




{% block content%}

  <h1 class="text-4xl">
     nuestra empresa 
  </h1>

  <br>
  <br>
  <p class="sr-only">
mision-alumina (1)
<h1 class="space-y-2">mision</h1>
En el ALUMINA S.A impulsamos el uso del aluminio, siendo el mejor aliado de los constructores, industriales y consumidores finales a nivel nacional e internacional, conociendo sus exigencias y convirtiéndolas en soluciones innovadoras con calidad y servicio.

Promovemos la protección y sostenibilidad del medio ambiente, el desarrollo integral de nuestros empleados y generamos valor para nuestros accionistas y la sociedad.

VISIÓN
Seremos la compañía número uno de Colombia con soluciones innovadoras que integran el aluminio con diferentes materiales, reconocidas por su diseño, calidad y servicio.

Habremos desarrollado una cultura de relacionamiento personalizado con nuestros proveedores, canales de distribución y clientes.

Tendremos la tecnología apropiada para garantizar nuestra competitividad en los mercados de Construcción, Industria y Conservación & Organización.</p>

{%endblock content%}


